.container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 60px;
}

.card {
    width: 22%;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    position: relative;
    text-align: left;
}

.card-remove {
    position: absolute;
    top: -30px;
    right: 10px;
    cursor: pointer;
}

.card-message {
    word-wrap: break-word;
    height: 100%;
}

.refresh-button {
    background: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    outline: none;
    font-weight: 600;
    font-size: 20px;
}